# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* Create markdown cell
* Create code cell
* create markdown cell with table data

###Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Sql

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotib

| Data Science Tools |
| ------------------ |
| Python             |
| R                  |
| Julia              |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
minutes=200
hours = minutes / 60
hours

3.3333333333333335

## Author :
Elaadraoui Yassine